Ignore/
*.pptx
*.ppt
*.odt
BSR/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
clone/
html/
_html/
www
08-PHOW/data
vlfeat
*/matlab/data
*/python/data
*.csv
11-NN/data
Challenge_Ignore
13-FCN/data/pretrained_models
13-FCN/logs
